@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Pagina de inicio de la aplicacion</h2>
<p>
    Esta es la pagina de inicio de la aplicacion, es solo una prueba
    para ver si esto esta funcionando correctamente.
</p>
