@model PhotosMVC.Models.Photo
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "All photos";
}

<div class="row">
    <div class="col-sm-12">
        <h1>
            <span>@ViewBag.Title</span>
            @Html.ActionLink("Add a photo", "Create", "Photo", new { @class = "btn btn-primary pull-right" })
        </h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.Action("_PhotoGallery", "Photo")
    </div>
</div>

